<div class ="hero-unit">
	<h1>Welcome to Winery Club</h1>
	<p>
		You will meet the goegous wine testing
		<%= link_to "One Month Rails" , "http://onemonthrails.com" %>
	</p>

	<p>

		<%= link_to "Sign Up Now!" , "#" , class: "btn btn-primary btn-large" %>

	</p>
</div>
